<section class="jumbotron text-center">
  <h1>CookBook</h1>
  <p class="lead">Bem-vindo ao maior livro de receitas online</p>
</section>

<h3 class="text-center mb-4">Todas receitas</h3>
<%= flash[:del] %>
<div class="row float-left ml-0 mr-1">
  <ul class="list-group">
    <% @recipe_types.each do |recipe_type| %>
      <li class="list-group-item"><%= link_to recipe_type.name, recipe_type %></li>
    <% end %>
  </ul>
</div>

<% if @recipes.any? %>
  <%= link_to 'Voltar', root_path, class:'btn btn-primary mb-4 ml-3' %>
  <div class="row">
    <%= render partial: 'recipe', collection: @recipes %>
  </div>
<% else %>
  <p class="text-center">
    Ainda não temos nenhuma receita. Que tal enviar uma?
  </p>
<% end %>
