<h1><%= @cuisine.name %></h1>
<% if @cuisine.recipes.any? %>
  <div class="row">
    <%= render partial: '/recipes/recipe', collection: @cuisine.recipes %>
  </div>
<% else %>
  <p class="text-center">
    <%= "Nenhuma receita #{@cuisine.name} cadastrada" %>
  </p>
<% end %>
