<h1><%= @user.email %></h1>
<hr>
<% if @user.photo.attached? %>
  <%= image_tag @user.photo, class:'avatar'%>
<% end %>
<hr>
<h3>Cadastrado em:</h3>
<p>
<%= @user.created_at.strftime("%d/%b/%Y") %></p>
<%= link_to 'Editar perfil', edit_user_path(current_user), class: 'btn btn-primary' %>
